<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connectionString" connectionString="Server=tcp:iss924.database.windows.net,1433;Initial Catalog=iss;Persist Security Info=False;User ID=gr924;Password=gR!12345678;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
	</connectionStrings>
</configuration>